<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<title>Administrador de Alertas</title>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
<!--/*/ <th:block th:include="fragments/general.html :: headerfiles">
        </th:block> /*/-->
</head>
<body>
	<div th:replace="fragments/navbar"></div>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justifyu-content-center card">
				<h1 class="text-center">Crear nueva Alerta</h1>
				<div class="card-body">
					<form th:action="@{/alertas}" th:object="${alerta}" method="POST">
						<div class="form-group">
							<label>Color</label> <input type="text" name="color"
								th:field="*{color}" class="form-control"
								placeholder="Ingresar Color" maxlength="50" required />
							<div class="text-danger" th:if="${#fields.hasErrors('color')}"
								th:errors="*{color}"></div>
						</div>
						<div class="form-group">
							<label>Color HTML</label> <input type="text" name="colorHtml"
								th:field="*{colorHtml}" class="form-control"
								placeholder="ej: #ccc" maxlength="50" required />
						</div>
						<div class="form-group">
							<label>Duraci&oacute;n desde</label> <input type="text"
								name="duracionDesde" th:field="*{duracionDesde}"
								class="form-control"
								placeholder="Ingresar Duraci&oacute;n en minutos" maxlength="3" required />
							<div class="text-danger"
								th:if="${#fields.hasErrors('duracionDesde')}"
								th:errors="*{duracionDesde}"></div>
						</div>
						<div class="form-group">
							<label>Duraci&oacute;n hasta</label> <input type="text"
								name="duracionHasta" th:field="*{duracionHasta}"
								class="form-control"
								placeholder="Ingresar Duraci&oacute;n en minutos" maxlength="3" required />
							<div class="text-danger"
								th:if="${#fields.hasErrors('duracionHasta')}"
								th:errors="*{duracionHasta}"></div>
						</div>
						<div class="form-group">
							<label>Descripci&oacute;n</label> <input type="text"
								name="descripcion" th:field="*{descripcion}"
								class="form-control" placeholder="Ingresar Descripci&oacute;n" maxlength="255" required />
							<div class="text-danger"
								th:if="${#fields.hasErrors('descripcion')}"
								th:errors="*{descripcion}"></div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Enviar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer"></div>
</body>
</html>